.buttons{
    padding-top: 20px;
    padding-bottom: 20px;
    color: wheat;
    text-align: center;
}

.buttons button{
    background-color: rgb(243, 235, 121);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.container{
    background-color: rgb(144, 193, 243);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-right: 800px;
    text-align: center;
}