*{
    font-family: poppins, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.sample{
    padding: 10px;
    text-align: center;
}

body h1{
    text-align: center;
}

.image_row{
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.image_row img {
  width: 250px;
  border-radius: 20px;
}

.header {
  background-color: beige;
  padding: 20px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn {
  background-color: rgb(239, 135, 17);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: lighter;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  margin-top: 10px;
}

.section-title{
    text-align: center;
}

#guide {
    color: rgb(239, 135, 17);
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(238, 95, 34);
}

.about-section {
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: cener;
}

.guide-section {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.gallery-section{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: beige;
}

.gallery-section h2{
    color: rgb(239, 135, 17);

}


.image_row_gallery{
    display: flex;
    gap: 50px;
    margin-top: 10px; 
    margin-bottom: 20px;  
    justify-content: center;
    border-radius: 10px;

}

.image_row_gallery img {
  width: 300px;
  border-radius: 20px;

}

.contact{
    text-align: center;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;      
  width: fit-content; 
  text-align: left;  
  padding-bottom: 10px;
}
.contact_list{
    align-items: center;
}

.class_subtitle{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.sell{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
    clear: both;
}

.food{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.btn_2{
    background-color: rgb(239, 135, 17);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    padding: 15px 24px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 550px;
    text-align: center;
}

.btn_2:hover {
    background-color: rgb(238, 95, 34);
}
.parent{
    display: flex;
    justify-content:space-between;
    gap: 10px;
}

.child1{
    flex-basis: 20%;
    height: 100px;
    width: 100px;
}

.child1 img{
    height: 200%;
    width: 200%;
    border-radius: 10px;
}

.child2{
    flex-basis: 50%;
    text-align: left;
}

.btn_1{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(239, 135, 17);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 550px;
    height: 20px;
    width: 70px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

.btn_1:hover {
    background-color: rgb(238, 95, 34);
}

.contact{
    background: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer {
    background-color: beige;
    padding: 30px 20px;
    text-align: center;
}

footer p {
    margin: 20px 0 0 0;
    color: #666;
    font-size: 14px;
}

.main{
    background-color: beige;
    overflow: hidden;

}