*{
    font-family: poppins, sans-serif;
}

.sample{
    padding: 10px;
    text-align: center;
}

body h1{
    text-align: center;
}

.image_row{
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.image_row img {
  width: 250px;
  border-radius: 20px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.section-title{
    text-align: center;
}

#guide {
    color: rgb(239, 135, 17);
    font-weight: bold;
}

.btn{
    background-color: rgb(239, 135, 17);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-style: normal;
    margin-top: 15px;
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    text-decoration: none;
}

.about-section {
    padding: 10px;
    border-radius: 0px;
    margin-top: 20px;
    text-align: center;
}

.guide-section {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.gallery-section{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: beige;
}

.gallery-section h2{
    color: rgb(239, 135, 17);

}


.image_row_gallery{
    display: flex;
    gap: 50px;
    margin-top: 10px; 
    margin-bottom: 20px;  
    justify-content: center;
    border-radius: 10px;

}

.image_row_gallery img {
  width: 300px;
  border-radius: 20px;

}

.contact{
    text-align: center;
    margin-bottom: 20px;
    margin: 40px auto;
    max-width: 800px;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;      
  width: fit-content; 
  text-align: left;  
  padding-bottom: 10px;
}
.contact_list{
    align-items: center;
}

.class_subtitle{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.sell{
    max-width: 400px;
    padding: 10px;
}
